PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/sentinelx
JWT_SECRET=SentinelX@2026
SENTINELX_JWT_SECRET=e453837360c0cd35d4e9b5425e62767026bc535951ebdb8ff9b0f310f05f663f
SENTINELX_CORS_ORIGINS=http://localhost:5173
SENTINELX_ADMIN_USERNAME=admin
SENTINELX_ADMIN_PASSWORD_HASH=$2b$12$/dNkv9wUlz6qA0T1uBKNeOu4ujq/TtZOvJArdSWvvlUFaSxTQAwd2

SENTINELX_PREVENTION_MODE=test
SENTINELX_PREVENTION_AUTO_BLOCK=false
